<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="openMenu()">
            <mat-icon>menu</mat-icon>
         </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-button routerLink="/">Home</button>
        <button mat-button>123</button>
        <button mat-button>123</button>
        <span class="example-spacer"></span>
        <button mat-flat-button routerLink="/login">Login</button>
    </mat-toolbar-row>
</mat-toolbar>