@use '~@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$red-palette, 500);
$my-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($my-theme);

// Include the theme mixins for other components you use here.
@include mat.toolbar-theme($my-theme);

.example-spacer {
    flex: 1 1 auto
}
.example-container {
    height: 100%

}
// .mat-nav-list {
//     width: 15vw;
// }
.mat-list-item {
    font-size: 1.2em;
}
.item-span {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.2em;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}